{{> navbar}}

<div class="form">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label>
            Email
            <input type="email" name="email" placeholder="Your E-mail" />
        </label>


        <label>
            Password
            <input type="password" name="password" placeholder="********" />
        </label>

        <div class="btn-blue">
            <button type="submit">Login</button>
        </div>


        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>