{{> navbar}}

<div class="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST" enctype='multipart/form-data'>
    <label>
      Username
      <input type="text" name="username" placeholder="Your username" />
    </label>


    <label>
      Email
      <input type="email" name="email" placeholder="Your email" />
    </label>


    <label>
      Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <label>
      City
      <input type="text" name="city" placeholder="Your city" />
    </label>


    <label>
      Telephone
      <input type="text" id="input-telephone" name="telephone" placeholder="Your telephone number" />
    </label>


     <div class="upload-container">
      <p id="p-profil-pic">Profile Picture</p>

      <label id="input-label">
        <div class="btn-white">
          Upload image 
        </div>
        <input type="file" name="image" id="input-image">
      </label>    
    </div>

    <div class="btn-blue">
      <button type="submit">Sign Up</button>
    </div>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>