<nav>
    <div class="nav-img-container">
        <img id="burger" src="/images/menu_burger_icon.svg" alt="burger">
        <a href="/"><img id="logo" src="/images/logo_sport.svg" alt="logo"></a>
    </div>
    <div class="menu">
        <a href="/courses">Calendar</a>
        <a href="/userProfile">Profile</a>
        <a href="/">About us</a>
    </div>
    {{!-- si user non connecté --}}
    <div class="nav-btn-container">
        {{#if user}}
        <div class="btn-white">
            <form id="logout-form" action="/logout" method="POST">
                <button>Log Out</button>
            </form>
        </div>
        {{!-- si user connecté --}}
        {{else}}
        <div class="btn-white">
            <a href="/login">Login</a>
        </div>
        <div class="btn-blue">
            <a href="/signup">Sign up</a>
        </div>
        {{/if}}
    </div>
</nav>