<img src="" alt="logo">
{{!-- si user non connecté --}}
{{#if user}}
<form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
</form>
{{!-- si user connecté --}}
{{else}}
<a href="/login">Login</a>
<a href="/signup">Sign up</a>
{{/if}}