<img src="" alt="logo">
{{!-- si user non connecté --}}
<a href="/login">Login</a>
<a href="/signup">Sign up</a>
{{!-- si user connecté --}}
<form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
</form>