<h1>Choose your course</h1>

<label>
  <input type="text" name="courseName" placeholder="What course?" />
</label>

<label>
  <input type="date" name="date" placeholder="What date?" />
</label>

<label>
  <input type="time" name="startTime" placeholder="What time?" />
</label>

<label>
  <input type="text" name="location" placeholder="Where?" />
</label>

<button type="submit">Search course</button>