<h2>Choose your course</h2>

<form action="/courses" method="POST">

  <label>
    <select class='searchbar-field' name="category" required>
      <option value="">--Please choose a category--</option>
      {{#each categories}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>

  <label>
    <input class='searchbar-field' type="date" id="input-date" name="date" placeholder="What date?" />
  </label>

  <label>
    <input class='searchbar-field' type="time" id="input-time" name="startTime" placeholder="What time?" />
  </label>

  <label>
    <input class='searchbar-field' type="text" name="location" placeholder="Where?" />
  </label>

  <button class='btn-blue' type="submit">Search course</button>

  {{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>

<script src="/javascripts/script.js"></script>
  