<div class="form">
  <h2>Choose your course</h2>

  <form action="/courses" method="POST">

    <label class="searchbar-label">
      <select class='searchbar-field' name="category" required>
        <option value="">--Please choose a category--</option>
        {{#each categories}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </label>

    <div class="date-container">
      <label>
        <input type="date" id="input-date" name="date" placeholder="What date?" />
      </label>

      <label>
        <input type="time" id="input-time" name="startTime" placeholder="What time?" />
      </label>
    </div>

    <label class="searchbar-label">
      <input type="text" name="location" placeholder="Where?" />
    </label>

    <div class="nav-btn-container search-btn-container">
      <div class="btn-blue dbl-btn-container">
        <button type="submit">Search</button>
      </div>
      <div class="btn-white dbl-btn-container">
        <a href="/courses">Show all</a>
      </div>
    </div>
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
