{{> navbar}}

{{> searchbar}}

<div class="calendar-container">
  {{!-- TOD add if condition to change headline (user vs visitor) --}}
  {{#if user}}
    <h2>Your Course Calendar</h2> 
  {{else}}
    <h2>Course Calendar</h2> 
  {{/if}}
  <div class='calendar-header'>
    <div class="week-btn">
      {{!-- TOD add eventListener to update date according to the current week --}}
      <button class='btn-previous-week'><</button>
      <p class='current-week'>24/05/2021 - 30/05/2021</p>
      <button class='btn-next-week'>></button>
    </div>
  </div>

  <div id='course-list'></div>

</div>

<script src="/javascripts/calendar.script.js"></script>