{{> navbar}}

{{> searchbar}}

<section class="picture">
  <div class="picture-content">
    <h1>Train with others!</h1>
    <h3>Meet other sport enthusiasts and discover the world of sport!</h3>
    <div class="picture-content-btn-container">
      {{!-- <a href="/courses" class="picture-btn blue">Explore courses</a> --}}
      {{#if user}}
      <a href="/courses" class="picture-btn blue">Explore courses</a>
      {{else}}
      <a href="/courses" class="picture-btn blue">Explore courses</a>
      <a href="/signup" class="picture-btn orange">Sign up</a>
      {{/if}}
    </div>
  </div>
</section>

<section class="howto">
  <h2>Get your course in 3 steps</h2>
  <ol>
    <li>
      <span class="number">1</span>
      <div class="caption">
        <span class="title">Discover</span>
        <p>From yoga to padel, from bouldering to high-intensity training, browse your favourite activities or try
          something new!</p>
      </div>
    </li>
    <li class="two">
      <div class="caption">
        <span class="title">Book</span>
        <p>With thousands of activities from hundreds of partner venues you're bound to find the perfect class for you.
        </p>
      </div>
      <span class="number">2</span>
    </li>
    <li>
      <span class="number">3</span>
      <div class="caption">
        <span class="title">Check-in</span>
        <p>It's time to get started! On-site activities or outdoor classes? Check in with your app. Live classes? Check
          in with your app or over the website.</p>
      </div>
    </li>
  </ol>
</section>