/* -------------------- */
/* WEEK NAV */
/* -------------------- */

.calendar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.week-btn,
.drop-btn {
  width: 80vw; 
}

.week-btn {
  display: flex;align-items: center; justify-content: center;
  background-color: white;
  border: 2px solid #0F1960;
  border-radius: 10px;
  color: #0F1960;
  margin-bottom: 5px;
  padding: 4px 0;
}

.week-btn button {
  border: none;
  background: none;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.week-btn button:hover {cursor: pointer;}

.current-week {
  color: #0F1960; 
  font-size: 12px;
  margin: 0;
}

/* -------------------- */
/* CALENDAR WRAPPER */
/* -------------------- */

.course-wrapper {
  background: #EEEDED;
  border-radius: 10px;
  color: #0F1960;
  margin: 10px auto;
  width: 90vw;
}

.course-wrapper article {
  text-align: center;
  margin: 10px 0 0;
}

.course-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 20px;
  width: 100%;
}

.course-wrapper li {
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.course-wrapper h4,
.course-wrapper h5 {
  font-size: 1.25em;
  margin: 0;
}

.course-wrapper h4 {
  padding: 15px 0 5px;
}

.course-wrapper h5 {
  color: #4758D6;
  padding: 0 10px;
}

.course-wrapper h6 {
  font-size: 16px;
  margin: 0;
}

.course-wrapper .btn-white {
  width: 40vw;
  margin: 15px auto 0;
  padding: 2px 10px;
}

.course-wrapper .btn-white a {
  font-size: .85em;
}

.no-course-header,
.course-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.course-header {margin-bottom: 15px;}

.course-header p {
  margin: 0;
  text-align: center;
}

.btn-add {
  background: #4758D6;
  border-radius: 20px;
  display: inline;
  padding: 5px 7px;
  width: 10vw;
}

.btn-add a {
  font-size: 18px;
  font-weight: 500;;
}