/* -------------------- */
/* WEEK NAV */
/* -------------------- */

.calendar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll {
  position: fixed;
  top: 0px;
  left: 0; right: 0; /*Centrage horizontal*/
  background-color: white;
  padding-bottom: 10px;
}

.week-btn {
  width: 80vw; 
}

.week-btn {
  display: flex;align-items: center; justify-content: center;
  background-color: white;
  border: 2px solid #0F1960;
  border-radius: 10px;
  color: #0F1960;
  margin-bottom: 5px;
  padding: 4px 0;
}

.week-btn button {
  border: none;
  background: none;
  font-size: 18px;
  flex: 1;
}

.btn-previous-week{
  padding-right: 20px;
  text-align: right;
}

.btn-next-week{
  padding-left: 20px;
  text-align: left;
}

.week-btn button:hover {cursor: pointer;}

.current-week {
  color: #0F1960; 
  font-size: 12px;
  margin: 0;
}

/* -------------------- */
/* CALENDAR WRAPPER */
/* -------------------- */

.course-wrapper {
  background: #EEEDED;
  border-radius: 10px;
  color: #0F1960;
  margin: 10px auto;
  width: 90vw;
}

.course-wrapper article {
  text-align: center;
  margin: 10px 0 0;
}

.course-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 20px;
  width: 100%;
}

.course-wrapper li {
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0px 5px 7px #00000029;
}

.course-wrapper li.is-organizer{
  box-shadow: 0 0 0px 2px #0F1960, 0px 10px 5px #00000047;
  border-left: 5px solid #0F1960;
  border-right: 5px solid #0F1960;
}

.course-wrapper li.is-organizer .course-header p:first-child{
  background-color: #0F1960;
}

.course-wrapper li.is-organizer h5{
  color: #0F1960;
}

.course-wrapper li.is-participant{
  box-shadow: 0 0 0px 2px #7cd437, 0px 5px 7px #00000029;
  border-left: 5px solid #7cd437;
  border-right: 5px solid #7cd437;
}

.course-wrapper li.is-participant .course-header p:first-child{
  background-color: #7cd437;
}

.course-wrapper li.is-participant h5{
  color: #7cd437;
}



.course-wrapper h4 {
  padding: 15px 0 5px;
  margin: 0;
  font-size: 1.8rem;
}

.course-wrapper h4 + p{
  color: #e1811f;
  font-weight: bold;
  margin: 0 0 13px;
}

.course-wrapper h5 {
  color: #4758D6;
  padding: 0 10px;
  font-size: 1.25em;
  margin: 0;
}

.course-wrapper h6 {
  font-size: 16px;
  margin: 0;
}

.course-wrapper .btn-white {
  margin: 15px auto 0;
  padding: 2px 10px;
}

.course-wrapper .btn-white a {
  font-size: .85em;
}

.no-course-header,
.course-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.course-header {margin-bottom: 15px;}

.course-header p {
  margin: 0;
  text-align: center;
}

.course-header p:first-child{
  padding: 10px;
  border-radius: 30px;
  background: #4658d5;
  color: white;
  font-weight: bold;
}

.btn-add {
  background: #4758D6;
  border-radius: 20px;
  display: inline;
  padding: 5px 7px;
  width: 32px;
}

.btn-add a {
  font-size: 18px;
  font-weight: 500;;
}

.course-wrapper .btn-white {
  width: 40%;
}


/* -------------------- */
/* MEDIA QUERIES */
/* -------------------- */

@media (min-width: 768px) {
  .course-wrapper {
    max-width: 540px;
  }

  .calendar-header .week-btn {
    max-width: 540px;
  }

  .course-wrapper li {
    margin-right: auto; margin-left: auto;
    width: 80%;
  }  
}


@media (max-width: 500px) {
  .course-wrapper .btn-white {
    width: 80%;
  }
}