* {box-sizing:border-box;}

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2{
  margin:20px;
  color:#0F1960;
  text-align: center;
}

/* -------------------- */
/* ------ NAVBAR ------ */
/* -------------------- */

nav{
  padding:5px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #e1811f;
}

.nav-btn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-img-container{
  display: flex;
}

#burger{
  width: 25px;
}
#logo{
  width: 50px;
  margin-left:10px;
}

.btn-blue {
  background-color: #4758D6;
  border: solid 2px #4758D6;
  border-radius: 10px;
  color: white;
  padding: 4px 20px;
  text-align: center;
}

.btn-add a,
.btn-blue a {
  color: white;
  text-decoration: none;
}

.btn-white {
  background-color: white;
  border: solid 2px #0f1960;
  border-radius: 10px;
  padding: 4px 20px;
  text-align: center;
}

.nav-btn-container > div{
  margin: 5px;
}

.btn-white a {
  color: #0f1960;
  text-decoration: none;
}

.btn-white button {
  background-color: white;
  border:none;
  color: #0f1960;
}
/* -------------------- */
/* ---- ERROR MSG ----- */
/* -------------------- */
.error {
  background: #ea3a3a;
  color: #fff;
  margin: 20px auto;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
}

/* -------------------- */
/* ------- FORM ------- */
/* -------------------- */
.form{
  width: 300px;
  margin-left: auto; margin-right: auto;
  padding-bottom: 20px;
}
/* @media (min-width:700px) {
  .form{
    width: 50vw;
  }
}
@media (min-width:900px) {
  .form{
    width: 30vw;
  }
} */

.form label{
  display: block;
  margin: 25px auto;
  color: #0f1960;
  font-weight: 700;
}

.upload-container{
  display: flex;
  justify-content: space-between;
}

#p-profil-pic{
  color: #0f1960;
  font-weight: 700;
  margin-top:auto;margin-bottom: auto;
}

#input-label{
  margin:15px 0px 15px 15px;
}

.user-pic{
  width: 100%;
}

.form input {
  text-align: center;
  width: 100%;
  border-radius: 5px;
  border:none ;
  background-color: #eeeded;
  color: #0f1960;
  height: 2em;
}

#input-image {
  display: none;
}

.btn-blue button {
  color: white;
  border:none;
  background-color:#4758D6;
}

.btn-red {
  background-color: #ea3a3a;
  border: solid 2px #ea3a3a;
  border-radius: 10px;
  color: white;
  padding: 4px 20px;
  text-align: center;
}

.btn-red a {
  color: white;
  text-decoration: none;
}

.btn-red button {
  color: white;
  border:none;
  background-color:#ea3a3a;
  text-decoration: none;
}

/* -------------------- */
/* ---COURSE DETAILS--- */
/* -------------------- */
.table-details{
  margin-bottom:20px;
}
.title{
  color: #0f1960;
  font-weight: 700;
}
.info{
  padding-left:80px;
  padding-bottom: 10px;
  color: #0f1960;
}
/* -------------------- */
/* ----- SEARCHBAR ---- */
/* -------------------- */
.form-searchbar{
  width: 80vw;
  margin-left: auto; margin-right: auto;
  padding-bottom: 20px;
}
@media (min-width:900px) {
  .form-searchbar{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .form-searchbar h2{
    display: none;
  }

  .form-searchbar form{
    display: flex;
  }
}

.form-searchbar label{
  display: block;
  margin: 25px auto;
  color: #0f1960;
  font-weight: 700;
}

.form-searchbar input {
  text-align: center;
  width: 100%;
  border-radius: 5px;
  border:none ;
  background-color: #eeeded;
  color: #0f1960;
  height: 30px;
}

.form-searchbar .searchbar-label{
  margin: 10px auto;
}
@media (min-width:900px) {
  .form-searchbar .searchbar-label{
    margin: 0 10px;
  }
}

.searchbar-field {
  width: 100%;
  background-color: white;
  border: 2px solid #0F1960;
  border-radius: 10px;
  color: #0F1960;
  padding: 4px 20px;
}

.date-container{
  display: flex;
  justify-content: space-between;
}
@media (min-width:900px) {
  .date-container{
    display: flex;
    justify-content: flex-start;
  }
}

.date-container label{
  margin: 10px 0;
  width: 45%;  
}
@media (min-width:900px) {
  .date-container label{
    margin: 0 10px;
    width: 100%;  
  }
}

.search-btn-container > div{
  margin: 5px 0;
}
@media (min-width:900px) {
  .search-btn-container > div{
    margin: 0 10px;
  }
}

.dbl-btn-container{
  width:45%;
}
@media (min-width:900px) {
  .dbl-btn-container{
    width: 100%;
  }
  .dbl-btn-container.btn-white{
    display: none;
  }
}
/* -------------------- */
/* ------ picture ----- */
/* -------------------- */
.picture{  
  background-image: url('../images/bckgrd.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:900px) {
  .picture{
    display: none;
  }
}
.picture-content{
  width: 470px;
}
.picture h1{
  font-size: 4em ;
  color: white; 
  text-align: center; 
}
.picture h3{
  font-size: 2em ;
  color: white; 
  text-align: center;
}
.picture-content-btn-container{
  text-align: center;
  margin-top:60px;
}
.picture-btn{
  border-radius: 10px;
  padding: 20px 40px;  
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  margin:10px;
}
.orange{
  background-color: #e1811f;
  color: 0F1960;
}
.blue{
  background-color: #4758D6;
  color: white;
}

/* -------------------- */
/* ------ How To ------ */
/* -------------------- */
.howto{
  background-color: #eeeded;
  padding-top: 1px;
  padding-bottom: 20px;
}

.howto ol {
  list-style: none;
  padding-left: 0;
  width: 80vw;
  margin-left: auto;margin-right: auto;
}
@media (min-width:900px) {
  .howto ol {
    display: flex;
    width: 100vw;
  }
}

.howto li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  margin-bottom: 25px;
  border-radius: 15px;
}

@media (min-width:900px) {
  .howto li {
    margin: 0 15px;
  }
  .two{
    flex-direction: row-reverse;
  }
}

.howto li .title {
  font-size: 150%;
}

.number{
  background-color: #e1811f;
  color: #eeeded;
  padding: 0 25px;
  border-radius: 40px;
  text-align: center;
  line-height: 80px;
  font-size: 4em;
}
.howto li .caption {
  margin-left: 1.2em;
}
.howto li p {
  margin:5px;
}