body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }


img {width: 100px; height: auto;}

.btn-blue {
  background-color: #4758D6;
  border-radius: 10px;
  margin: 5px auto;
  padding: 4px 20px;
  text-align: center;
}

.btn-blue a {
  color: white;
  text-decoration: none;
}