* {box-sizing:border-box;}

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2{
  margin:20px;
  color:#4758D6;
  text-align: center;
}

/* -------------------- */
/* ------ NAVBAR ------ */
/* -------------------- */

nav{
  padding:5px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #e1811f;
}

.nav-btn-container{
  display: flex;
  align-items: center;
}

#burger{
  width: 50px;
}
#logo{
  width: 50px;
  margin-left:10px;
}

.btn-blue {
  background-color: #4758D6;
  border: solid 2px #4758D6;
  border-radius: 10px;
  color: white;
  padding: 4px 20px;
  text-align: center;
}

.btn-blue a {
  color: white;
  text-decoration: none;
}

.btn-white {
  background-color: white;
  border: solid 2px #0f1960;
  border-radius: 10px;
  padding: 4px 20px;
  text-align: center;
}

.nav-btn-container > div{
  margin: 5px;
}

.btn-white a {
  color: #0f1960;
  text-decoration: none;
}

.btn-white button {
  background-color: white;
  border:none;
  color: #0f1960;
}
/* -------------------- */
/* ---- ERROR MSG ----- */
/* -------------------- */
.error {
  background: #ea3a3a;
  color: #fff;
  margin: 20px auto;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
}

/* -------------------- */
/* ------- FORM ------- */
/* -------------------- */
.form{
  width: 80vw;
  margin-left: auto; margin-right: auto;
}


.form label{
  display: block;
  margin: 25px auto;
  color: #0f1960;
  font-weight: 700;
}

.form label img{
  width:100%;
}

.form input {
  text-align: center;
  width: 100%;
  border-radius: 5px;
  border:none ;
  background-color: #eeeded;
  color: #0f1960;
  height: 2em;
}

.btn-blue button {
  color: white;
  border:none;
  background-color:#4758D6;
}

.btn-red {
  background-color: #ea3a3a;
  border: solid 2px #ea3a3a;
  border-radius: 10px;
  color: white;
  padding: 4px 20px;
  text-align: center;
}

.btn-red a {
  color: white;
  text-decoration: none;
}

.btn-red button {
  color: white;
  border:none;
  background-color:#ea3a3a;
  text-decoration: none;
}

/* -------------------- */
/* ------ DETAILS------ */
/* -------------------- */
#course-details{
  margin-bottom:20px;
}
.title{
  color: #0f1960;
  font-weight: 700;
}
.info{
  padding-left:80px;
  padding-bottom: 10px;
  color: #0f1960;
}